
# GitHub variables
GITHUB_APP_NAME=shobapp24
GITHUB_SECRET=

# Database variable
DATABASE_URL=

# Better-auth variables
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Rate-limit variable
MAX_LIMIT=100 # for get all repo

# Redis variable
REDIS_URL=

# RabbitMQ variable
RABBITMQ_URL=

# Resend variable
RESEND_API_KEY=

# App variable
PORT=3000
CORS_ORIGIN_URL=https://githubs24.vercel.app